<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>tripleProject</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%-include(headerInclude)%>
</head>
<body id="top">    
    <%-include(layoutRow_0)%>
    <%-include(layoutRow_1)%>
    <%-include(layoutOverlay1)%>	
    <%-include(layoutBody)%>
    <%-include(layoutGradient)%>		
	<%-include(layoutRow_4)%>
	<%-include(layoutRow_5)%>
	<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
	<!-- JAVASCRIPTS -->	
</body>
</html>